body {
    background-color: #f0f2f5;
}

header {
    z-index: 2;
    width: 100%;
    padding: 0px !important;
    height: 72px;
    position: fixed;
    background-color: white !important;
    box-shadow: 0 2px 8px #f0f1f2;
}

.header__logo {
    padding: 0px 50px;
}

.header__logo__img {
    overflow: hidden;
    width: 40px;
    height: 40px;
}

.header__content-right {
    text-align: right;
}

.header__content-right__icon-setting {
    font-size: 22px;
}

.navbar {
    margin-top: 0px;
}

.ant-menu {
    padding: 0 50px !important;
}

.content {
    padding: 15px;
    background-color: white;
    margin: 118px 50px 0px 50px;
}

.float-btn-debugger {
    top: 0px;
    right: 4px;
    bottom: 0px;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
}

.float-btn-debugger__btn {
    width: 80px;
    color: white;
    padding: 6px;
    border-radius: 3px;
    text-align: center;
    background-color: #ee192d;
    font-size: 12px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.4);
}

.float-btn-debugger__btn--clear {
    background-color: #229a84;
}

.float-btn-debugger__btn__icon {
    font-size: 18px;
}

.float-btn-debugger__btn__text {
    margin: 0px !important;
}

.connection-info {
    height: 24px;
    background-color: #ee192d;
    text-align: center;
    color: white;
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
    right: 0px;
}

/* override default class */
.ant-menu-item-selected, .ant-menu-item:hover {
    color: #229a84 !important;
    font-weight: bold;
    border-bottom: 2px solid #229a84 !important;
}

.ant-btn-ghost:hover, .ant-btn-ghost:focus {
    color: #229a84 !important;
    border-color: #229a84 !important;
}